@import url("https://fonts.googleapis.com/css?family=Roboto");
html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: "Roboto", sans-serif;
}

#root, .app {
  height: 100%;
}

div.loading {
  display: block;
  margin: 20px auto;
  transform: translate(-50%, -50%);
  height: 25px;
  width: 25px;
  background-image: url(../images/refresh.svg);
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center;
  animation: spin 1s infinite;
  -webkit-animation: spin 1s infinite;
}

@-moz-keyframes spin {
  from {
    -moz-transform: rotate(0deg);
  }
  to {
    -moz-transform: rotate(360deg);
  }
}
@-webkit-keyframes spin {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
  }
}
@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.scrollbar::-webkit-scrollbar {
  background-color: #fff;
  width: 16px;
  cursor: pointer;
}

.scrollbar::-webkit-scrollbar-track {
  background-color: #F0F1F6;
}

.scrollbar::-webkit-scrollbar-track:hover {
  background-color: #F0F1F6;
}

.scrollbar::-webkit-scrollbar-thumb {
  background-color: #babac0;
  border-radius: 16px;
  border: 5px solid #F0F1F6;
}

.scrollbar::-webkit-scrollbar-button {
  display: none;
}

div.app {
  position: relative;
}
div.app div.app__background {
  background-color: #63cdda;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -999;
}
div.app div.app__container {
  padding: 20px;
  max-width: 1200px;
  margin: 0 auto;
}
@media (min-width: 768px) {
  div.app div.app__container {
    padding: 40px;
    max-height: 100%;
    box-sizing: border-box;
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(2, 1fr);
  }
}
div.app section.mainsection {
  background-color: #F0F1F6;
  border-radius: 5px;
  -webkit-border-border-radius: 5px;
  -moz-border-border-radius: 5px;
  -ms-border-border-radius: 5px;
  -o-border-border-radius: 5px;
  overflow: hidden;
  height: 450px;
  display: block;
  margin: 0px 0px 20px 0px;
  transition: height 0.5s;
  -webkit-transition: height 0.5s;
  -moz-transition: height 0.5s;
  -ms-transition: height 0.5s;
  -o-transition: height 0.5s;
}
@media (min-width: 768px) {
  div.app section.mainsection {
    margin: 0;
    height: 100%;
  }
}
div.app section.mainsection.collapse {
  height: 50px;
}
@media (min-width: 768px) {
  div.app section.mainsection.collapse {
    height: auto !important;
  }
}
div.app section.mainsection.collapse.mainsection__container {
  overflow: hidden !important;
}
div.app section.mainsection header {
  background-color: #FFF;
  height: 50px;
  padding: 0px 10px;
  width: 100%;
  border-bottom: 2px solid #EAEBF0;
  display: flex;
  align-items: center;
  box-sizing: border-box;
  position: relative;
}
div.app section.mainsection header p {
  margin: 0;
  color: #cccccc;
  text-transform: uppercase;
  font-size: 12px;
  letter-spacing: 0.7px;
}
div.app section.mainsection header div.toggle {
  height: 30px;
  width: 30px;
  background-image: url("../images/toggle.svg");
  background-size: 20px;
  background-repeat: no-repeat;
  background-position: center;
  opacity: 0.6;
  position: absolute;
  right: 10px;
  top: 10px;
  transition: transform 0.3s;
  cursor: pointer;
}
@media (min-width: 768px) {
  div.app section.mainsection header div.toggle {
    display: none;
  }
}
div.app section.mainsection div.mainsection__container {
  position: relative;
  overflow-y: scroll;
  max-height: calc(100% - 60px);
}
@media (min-width: 768px) {
  div.app section.mainsection div.mainsection__container {
    max-height: none;
  }
}

section.days {
  width: 100%;
  border-bottom: 2px solid #EAEBF0;
}
@media (min-width: 768px) {
  section.days {
    grid-column: 1/3;
    grid-row: 1/3;
  }
}
section.days div.days__container {
  margin-top: 10px;
}
@media (min-width: 768px) {
  section.days div.days__container {
    height: calc(100% - 60px);
    overflow-y: scroll;
    box-sizing: border-box;
  }
}

div.day {
  padding: 10px;
  cursor: pointer;
}
div.day:nth-child(odd) {
  background-color: #fff;
}
div.day.selected {
  background-color: rgba(0, 184, 148, 0.3);
  background-image: url("../images/checked.svg");
  background-repeat: no-repeat;
  background-size: 20px;
  background-position: 90% center;
}
div.day div.day__container p {
  margin: 0;
}
div.day div.day__container p.day__day {
  font-size: 14px;
}
div.day div.day__container p.day__date {
  font-size: 14px;
}
div.day div.day__container p.day__id {
  font-size: 8px;
  opacity: 0.4;
  letter-spacing: 0.3px;
}

section.allstats {
  width: 100%;
}
@media (min-width: 768px) {
  section.allstats {
    grid-column: 3/8;
    grid-row: 1/2;
  }
}
section.allstats div.allstats__container {
  padding: 10px;
  display: flex;
  flex-direction: column;
  width: 100%;
  box-sizing: border-box;
}
@media (min-width: 576px) {
  section.allstats div.allstats__container {
    flex-direction: row;
    height: calc(100% - 60px);
    overflow-y: scroll;
    box-sizing: border-box;
  }
}
section.allstats div.allstats__container div.allstats__chart {
  flex: 1;
  display: flex;
  align-items: center;
}
@media (min-width: 576px) {
  section.allstats div.allstats__container div.allstats__chart {
    flex: 2;
  }
}
section.allstats div.allstats__container div.allstats__chart div.allstats__chart__container {
  width: 100%;
  max-width: 300px;
  margin: 0 auto;
}
@media (min-width: 576px) {
  section.allstats div.allstats__container div.allstats__chart div.allstats__chart__container {
    width: 250px;
  }
}
@media (min-width: 768px) {
  section.allstats div.allstats__container div.allstats__chart div.allstats__chart__container {
    width: 200px;
  }
}
section.allstats div.allstats__container div.allstats__info {
  flex: 1;
}
@media (min-width: 576px) {
  section.allstats div.allstats__container div.allstats__info {
    display: flex;
    align-items: center;
  }
}
@media (min-width: 992px) {
  section.allstats div.allstats__container div.allstats__info {
    flex: 2;
  }
}
section.allstats div.allstats__container div.allstats__info div.allstats__info__container {
  padding: 10px 0px 0px 0px;
}
section.allstats div.allstats__container div.allstats__info div.allstats__info__container p {
  margin-top: 10px;
}
section.allstats div.allstats__container div.allstats__info div.allstats__info__container table {
  margin: 0 auto;
  max-width: 400px;
}
section.allstats div.allstats__container div.allstats__info div.allstats__info__container table div {
  width: 50px;
  height: 20px;
  box-sizing: border-box;
  border: 3px solid transparent;
}
section.allstats div.allstats__container div.allstats__info div.allstats__info__container table th {
  text-align: left;
}
section.allstats div.allstats__container div.allstats__info div.allstats__info__container table td {
  width: 200px;
}

section.dailystats {
  width: 100%;
}
@media (min-width: 768px) {
  section.dailystats {
    grid-column: 3/8;
    grid-row: 2/3;
  }
}
section.dailystats div.dailystats__container {
  padding: 10px;
}

/*# sourceMappingURL=index.css.map */
