section.allstats{
    width: 100%;

    @include respond-above(sm){
        grid-column: 3 / 8;
        grid-row: 1 / 2;
    }
    
    div.allstats__container{
        padding: 10px;
        display: flex;
        flex-direction: column;
        width: 100%;
        box-sizing: border-box;

        @include respond-above(xs){
            flex-direction: row;
            height: calc(100% - 60px);
            overflow-y: scroll;
            box-sizing: border-box;
        }

        div.allstats__chart{
            // border: 1px solid blue;
            flex: 1;
            display: flex;
            align-items: center;

            @include respond-above(xs){
                flex: 2;
            }

            div.allstats__chart__container{
                width: 100%;
                max-width: 300px;
                margin: 0 auto;

                @include respond-above(xs){
                    width: 250px;
                }

                @include respond-above(sm){
                    width: 200px;
                }
            }
        }

        div.allstats__info{
            flex: 1;
            
            @include respond-above(xs){
                display: flex;
                align-items: center;
            }

            @include respond-above(md){
                flex:  2;
            }

            div.allstats__info__container{
                padding: 10px 0px 0px 0px;
                p{
                    margin-top: 10px;
                }

                table{
                    margin: 0 auto;
                    max-width: 400px;

                    div{
                        width: 50px;
                        height: 20px;
                        box-sizing: border-box;
                        border: 3px solid transparent;
                    }

                    th{
                        text-align: left;
                    }

                    td{
                        width: 200px;
                    }
                }
            }
        }
    }
}