div.day{
    padding: 10px;
    cursor: pointer;

    &:nth-child(odd){
        background-color: #fff;
    }

    &.selected{
        background-color: rgba(0, 184, 148, .3);
        background-image: url('../images/checked.svg');
        background-repeat: no-repeat;
        background-size: 20px;
        background-position: 90% center;
    }
    
    div.day__container{
            p{
                margin: 0;

            &.day__day{
                font-size: 14px;
            }

            &.day__date{
                font-size: 14px;
            }

            &.day__id{
                font-size: 8px;
                opacity: .4;
                letter-spacing: .3px;
            }
        }
    }
}